# Backend API Base URL
NEXT_PUBLIC_API_URL="http://localhost:8080/api"

# Demo Credentials / Default Login Shortcuts (Optional)
NEXT_PUBLIC_STUDENT_EMAIL="student@test.com"
NEXT_PUBLIC_STUDENT_PASSWORD="student123"

NEXT_PUBLIC_TEACHER_EMAIL="teacher@test.com"
NEXT_PUBLIC_TEACHER_PASSWORD="teacher@test.com"

NEXT_PUBLIC_ADMIN_EMAIL="admin@test.com"
NEXT_PUBLIC_ADMIN_PASSWORD="admin@test.com"
