@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Times New Roman", Times, serif;
}

.gradient-text {
  background: linear-gradient(90deg, #f97a00, #f978008a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.gradient-border {
  border: 2px solid;
  border-radius: 9999px !important; /* <-- Tailwind rounded-full */
  border-image: linear-gradient(90deg, #f97a00, #f978008a) 1;
}

/* ---------- 1) Remove default spinner controls (cross-browser) ---------- */
/* Chrome, Edge, Safari, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none; /* ensure hidden */
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
